Header set Access-Control-Allow-Origin "*"
RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^read$ read.php [NC,L]
RewriteRule ^readOne$ readOne.php [NC,L]
RewriteRule ^readOne$ readOne.php?id=$1 [NC,L] 
RewriteRule ^create$ create.php [NC,L]
RewriteRule ^update$ update.php?id=$1 [NC,L]
RewriteRule ^delete$ delete.php?id=$1 [NC,L]